# Ignored files
# based on recommendations: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/uiDesigner.xml

# Maven
.idea/**/libraries
*.iml

# File-based project format:
*.iws

# target directory
target
